*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#spreadsheet{
    border:1px solid black;
    width: 100vw;
    height: 100vh;
}
#selectedCellBorder,#selectedRange,#textInput{
    position:absolute;
}
#textInput{
    display:none;
}